h1   {
      font-family:sans-serif;
      font-weight:bolder;
      font-size: 13px;}

#one {
      margin-bottom: 0%;
      margin-top: 1%;}

#two {
    margin-top: 0%;
      margin-bottom: 0%;}

h2   
     {
      font-size: 40px;
      font-family: sans-serif;
      font-weight:bold;
      margin-right: 82%; 
      margin-top: 1%;}

img  {
      margin-top: 1%;}
   