
h1   {
      font-family:sans-serif;
      font-weight:bold;
      font-size: 14px;
      margin-left: 0.5%;}

#one {
      margin-bottom: 0%;
      margin-top: 1%;}

#two {
      margin-top: 0%;
      margin-bottom: 0%;}

h2   
     {
      font-size: 35px;
      font-family: sans-serif;
      font-weight:bold;
      margin-right: 83.6%; 
      margin-top: 0%;
      margin-left: 0.5%;}

img  {
      margin-top: 0.6%;}
   